@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
    font-size: small;

}

#app{
    height: 100%;
}

body{
    height: 100vh;
    width: 100%;
}

.box{
    background-color: #9f9f9f27;
}

.mycolor{
    color:#EFD6AC;
}
.mycolor1{
    color:#183A37
}
.mycolor2{
    color:#432534
}
.mycolor3{
    color: #C44900;
}
.myborder{
    border: 1px solid #432534;
}

.button1{
    background-color:#432534;
}


#sidebar-wrapper {
    min-height: 100vh;
    width: 0;
    overflow: hidden;
    transition:  all .3s ease;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.3rem;
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
    width: 17rem;
}


#wrapper.toggled #sidebar-wrapper {
    width: 17rem;
    padding: 1em;
    
}
#wrapper.toggled #page-content-wrapper {
    width: calc(100vw - 17rem) !important;
}
#page-content-wrapper {
    width: 100vw !important;
}

.list-group-item {
    padding: 10px 20px;
}

#menu-toggle{
    cursor: pointer;
}

.navbar {
    box-shadow: none !important;
}