@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
    font-size: small;

}

#app{
    height: 100%;
}

body{
    height: 100vh;
    width: 100%;
}

.box{
    background-color: #9f9f9f27;
}

.mycolor{
    color:#EFD6AC;
}
.mycolor1{
    color:#183A37
}
.mycolor2{
    color:#432534
}
.mycolor3{
    color: #C44900;
}
.myborder{
    border: 1px solid #432534;
}

.button1{
    background-color:#432534;
}


#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -17rem;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.3rem;
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
    width: 17rem;
}

#page-content-wrapper {
    min-width: 100vw;

}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}


.list-group-item {
    padding: 10px 20px;
}

#menu-toggle{
    cursor: pointer;
}

.navbar {
    box-shadow: none !important;
}